.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #003366;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem; /* espacio para que el contenido no choque con el navbar */
}

.box {
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.box h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #003366;
}

.box p {
  font-size: 1.2rem;
  color: #003366;

}
