/* src/pages/Home.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #003366;
  color: white;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  background-color: white;
  color: #003366;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #f0f0f0;
}
